.container {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

h1 {
    font-family: 'Open Sans Condensed', sans-serif;
}

.main-image {
    width: 100%;
}
